.evidance_sec {
    // /* background-color: #36454F; */
    position: relative;

    .grid {
        &__list {
            display: grid;
            grid-template-columns: 1fr 33.8% 1fr;
            gap: 28px;

            @media screen and (max-width: 1023.98px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 767.98px) {
                grid-template-columns: auto;
            }
        }

        &__item {
            &:nth-child(2) {
                @media screen and (max-width: 1023.98px) and (min-width: 768px) {
                    order: 3;
                    grid-column: 1/-1;
                }
            }
        }
    }

    .card {
        background-color: #E2E7EA;
        border-radius: 40px;
        padding: 24px 32px 24px;
        flex-grow: 1;
        flex-shrink: 0;
        overflow: hidden;

        @media screen and (max-width: 767.98px) {
            border-radius: 24px;
            padding: 12px 16px 12px;
        }



        .ratio {
            --bs-aspect-ratio: #{231/369*100%};

            @media screen and (max-width: 479.98px) {
                --bs-aspect-ratio: 100%;
            }

            * {

                object-fit: cover;
                object-position: top;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 28px;
            height: 100%;


        }

        &__overlay {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
            bottom: 0;
            padding: 16px;

            @media screen and (max-width: 767.98px) {
                padding: 8px;
            }

            .card__body {
                padding-top: 24px;

                @media screen and (max-width: 767.98px) {
                    padding-top: 12px;
                }
            }

            .card__title {
                color: #FFFFFF;
            }

            &__content {
                background: #36454F7A;
                backdrop-filter: blur(37px);
                padding: 32px 26px;
                border-radius: 40px;

                @media screen and (max-width: 767.98px) {
                    padding: 16px 12px;
                    border-radius: 24px;
                }
            }
        }

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }

        &__body {
            padding-top: 56px;
        }

        &__title {
            color: #36454F;
            font-size: 44px;
            line-height: calc(56/44);
            font-weight: 800;

            @media screen and (max-width: 1023.98px) {
                font-size: 36px;
            }

            @media screen and (max-width: 767.98px) {
                font-size: 28px;
            }
        }

        &__icon {
            width: 32px;
            height: 32px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }


        }

        &__text {
            font-size: 16px;
            line-height: calc(24/16);
            font-weight: 400;

            strong {
                font-weight: 600;
            }
        }
    }
}

.title-5 {
    color: #FFFFFF;
}